<!DOCTYPE html>
{% extends 'my_map/base.html'%}


{% block content %}


<div class="container mt-5">


    <h2 align="center">Visited Countries Map Creator !<br><br>
    Here you can create your personalized travel map
    -with all your visited countries around the world !</h2><br>

    <h2>About author Malgorzata Kozera</h2><br>


    <p>I am a beginner programmer. I started to learn programming about 6 months ago and I really liked it !
    That is amazing feeling when you can create something that you always wanted to make.
    This website is one of my projects, this is a combine my interests with work.
        I was traveling aroud the wolrd for last 2 years,
        I always wanted to have a tool that allows me to check how far I have been
        and how many pieces of the world I visited already.A know there is a lot of that
        kind of websites on the internet, but i wanted to make my own, just like I wanted !
    So here I am... mixing a little business with pleasure ;)</p>

    <h2>How is this work ? it is very simple !</h2>

    <p>*Step one: choose the place that you have never been. Let's fly by plane, go by car, bike or hitchhike !</p>
    <p>Step two: have an adventure, make a new friends, collect a hundert of memories !</p>
    <p>Last step: come back on this website,
    create your own travel map, share with you friends and make your travels more remarkable.</p>

    <h2>Improvement</h2>
    <p>I share this project because I think that done is better than perfect.
    Nevertheless, there is still a few thing that i would like to improve in the future,
    for example i would like to add:<br>
     -users account where you will be able to update your map,<br>
     -some statistic,<br>
     -the ability to mark places that are worth visiting etc.</p>
   <p>And if you find any bugs in the program, or have a few suggestions for improvements,
    please let me know at: malgorzata.kozera5@gmail.com</p>
    <small> * If you already have been somewhere you can jump to step three</small>
</div>

{% endblock content %}