<!DOCTYPE html>
{% extends 'my_map/base.html'%}
{% load static%}

{% block content %}


<body background="{% static 'my_map/images/new_bg2.jpg'%}">
<br>
<div class="container">
    <div class="row">
        <div align="center" class="col-sm-12">

        <h2>Welcome to the Visited Countries Map! This app allows you to create your own map with all the places you've already been.</h2>
        <h3>Let's start the journey...</h3>
<br>

    <a class="btn btn-outline-dark  btn-lg" href="{% url 'map_create' %}" role="button">START</a>


        </div>
    </div>
</div>

</body>

{% endblock content %}